* {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(245, 245, 245, 255);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

.logo {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    color: #4d4d4d;
    margin-bottom: -1em;
    max-width: 100%;
    min-width: 50%;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: clamp(2rem, 4rem, 5rem);
    max-width: 100%;
    min-width: 50%;
}

p {
    font-family: "Montserrat Alternates", sans-serif;
    color: #333333;
    margin-bottom: 2em;
    font-size: clamp(1rem, 1rem, 1rem);
    max-width: 100%;
    min-width: 50%;
}

image {
    max-width: 100%;
    min-width: 50%;
}

.btn {
    background-color: #FFEE00;
    border-radius: 25px;
    padding: 1em;
    font-size: 1rem;
    border: none;
    outline: none;
}


button {
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
}

.btn-row {
    display: flex;
    align-items: center;
    gap: 1em;
}

footer {
    display: flex;
    gap: 2em;
    max-width: 100%;
    align-items: center;
    justify-content: center;

}

.biggie {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.zero {
    font-size: 2rem;
}

.email {
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 0;
    max-width: 100%;
    position: relative;
    border-radius: 25px;
}

.email input {
    border: none;
    max-width: 60%;
    padding: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


.email i {
    color: grey;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: left;
}

.email_btn {
    background-color: #FFEE00;
    font-size: 1rem;
    border: none;
    outline: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 54px;
    padding: 20px;
    cursor: pointer;
}

@media all and (max-width: 769px) {
    main {
        display: flex;
        flex-direction: column;
    }

    body {
        padding: 1em;
    }

    h2 {
        width: 100;
    }

    .email {
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        max-width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 382px) {
nav{
    padding: 0;
}

    .email {
        font-size: 1rem;
        max-width: 100%;
    }
}
